button {
  background-color: var(--color-quaternary);
  color: var(--color-primary);
  padding: var(--space-sm) var(--space-md);
  border: none;
  border-radius: var(--radius-md);
  cursor: pointer;
  transition: var(--transition-default);
}
button:hover {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
}
