@import url("./reset.css");
@import url("./variables.css");
@import url("./global.css");
@import url("./layout.css");
@import url("./components.css");
@import url("./responsive.css");

html {
   scroll-behavior: smooth;
}

/* ======================== HEADER ======================== */
header {
   display: flex;
   background-color: #433A39;
   padding: 0 17vw;
}

header .logo {
   width: 150px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.social img {
  height: 22px;
  width: auto;
}

header a{
   text-decoration: none;
   color: #fff;
   font-size: 1.3rem;
}




/* ======================== INICIO ======================== */
#inicio {
   position: relative;
   width: 100%;
   background-color: #433A39;

}

#inicio img {
   display: block;
   margin: 0 auto;
   max-width: 100%;
   height: auto;
   position: relative;
   z-index: 1;
   mask-image: linear-gradient(to right,
         transparent 0%,
         #433A39 40%,
         #433A39 60%,
         transparent 100%);
   -webkit-mask-image: linear-gradient(to right,
         transparent 0%,
         #433A39 40%,
         #433A39 60%,
         transparent 100%);
}


#inicio h1 {
   position: absolute;
   bottom: 8rem;
   left: 30rem;
   color: #fff;
   font-size: 4rem;
   z-index: 3;
   line-height: 1;
}

.linha-branca {
  color: #e6e1d8;
}

.linha-preta {
  color: #c78c67;
}