@import url("./reset.css");
@import url("./variables.css");
@import url("./global.css");
@import url("./layout.css");
@import url("./components.css");
@import url("./responsive.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

html {
   scroll-behavior: smooth;
}

/* ======================== HEADER ======================== */
header {
   display: flex;
   background-color: #1c1c1c;
   padding: 0 20%
}

header .logo {
   width: 5vw;
}

nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.menu {
   display: flex;
   gap: 2vw;
   list-style: none;
   margin: 0;
   padding: 0;
}

.social {
   display: flex;
   gap: 1vw;
   align-items: center;
   padding-left: 1vw;
}

.social img {
   width: 1vw;
}

header a {
   text-decoration: none;
   color: #e6e1d8;
   font-size: clamp(1rem, 1.2vw, 1.3rem);
}

header a:hover {
   color: #c78c67;
}


/* ======================== INICIO ======================== */
.inicio {
   position: relative;
   width: 100%;
   background-color: #1c1c1c;

}

.inicio img {
   display: block;
   margin: 0 auto;
   max-width: 100%;
   height: auto;
   position: relative;
   z-index: 1;
   mask-image: linear-gradient(to right,
         transparent 0%,
         #1c1c1c 40%,
         #1c1c1c 60%,
         transparent 100%);
   -webkit-mask-image: linear-gradient(to right,
         transparent 0%,
         #1c1c1c 40%,
         #1c1c1c 60%,
         transparent 100%);
}

.inicio h1 {
   position: absolute;
   bottom: 5vw;
   left: 20vw;
   color: #fff;
   font-size: clamp(2rem, 5vw, 4rem);
   z-index: 3;
   line-height: 1;
}

.linha-branca {
   color: #e6e1d8;
}

.linha-preta {
   color: #c78c67;
}

.inicio hr {
   border: none;
   height: 5px;
   background-color: #1c1c1c;
   /* cor da linha */

}

/* ======================== SOBRE ======================== */

.sobre {
   padding: 0 20%;
   padding-bottom: 7%;
}

.div1 {
   display: flex;
   align-items: center;
}

.paragrafo1 {
   width: 50%;
   background-color: #e6e1d8;
   ;
   padding: 5%;
}

.paragrafo1 p {
   color: #433A39;
   font-size: 0.9vw;
}

.frases {
   width: 50%;
   background-color: #1c1c1c;
   padding-left: 5%;
   font-size: 2vw;
   line-height: 0.85;
   font-family: 'Oswald';
   font-weight: 800;
   letter-spacing: -0.08em;
   padding-top: 7%;
   padding-bottom: 5%;
}

.linha1 {
   color: #e6e1d8;
}

.linha2 {
   color: #c78c67;
}

.div2 {
   display: flex;
   align-items: center;
}

.pilar {
   width: 50;
}

.pilar img {
   width: 100%
}

.paragrafo2 {
   padding-top: 7%;
   width: 50%;
}

.paragrafo2 p {
   color: #e6e1d8;
   font-size: 0.9vw;
}

/* ======================== SERVIÇOS ======================== */
.servicos {
   padding: 0 20%;
   background-color: #1c1c1c;
   padding-top: 7%;
   padding-bottom: 7%;

}

.cards {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   gap: 5%;
   position: relative;
   z-index: 1;
}

.card {
   flex: 1 1 calc(33.33% - 3%);
   background-color: #000e11;
   ;
   text-align: left;
   padding: 1.5%;
   box-sizing: border-box;
   margin-bottom: 5%;
   width: 100%;

}


.servicos h1 {
   color: #e6e1d8;
   font-size: 3vw;
   text-align: center;
   margin-bottom: 7%;
   font-family: 'Oswald';

}

.servicos h3 {
   color: #c78c67;
   font-size: 1.5vw;
   margin-bottom: 3%;
   font-family: 'Oswald';
   position: absolute;
   z-index: 3;
}

.servicos p {
   color: #e6e1d8;
   font-size: 1vw;
   line-height: 1.5;
   padding: 10% 10% 10% 10%;
   font-weight: bold;
}