:root {
  --color-primary: #000e11;    
  --color-secondary: #1c1c1c; 
  --color-tertiary: #e6e1d8;
  --color-quaternary: #c78c67;
  --color-quinternary: #433A39;

  --font-primary: "Poppins", sans-serif;

  
}
